body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h2 {
  text-align: center;
  color: #555;
}

/* FORM */

form {
  width: 300px;
  margin: 20px auto;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #777;
}

/* SWITCH THEME */

.theme-toggle {
  transition: background-color 0.3s ease, color 0.3s ease;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999; 
}

.theme-toggle i {
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.dark-theme .theme-toggle {
  color: white;
}

/* STYLES DARK THEME */

.dark-theme {
  background-color: #1a1a1a;
  color: #ddd;
}

.dark-theme #registration-form {
  background: #202020;
  color: #eee;
}

.dark-theme input[type="text"],
.dark-theme input[type="email"],
.dark-theme input[type="password"],
.dark-theme input[type="submit"] {
  background-color: #222;
  color: #eee;
  border: 1px solid #444;
}

.dark-theme input[type="submit"]:hover {
  background-color: #504f4f;
  color: #eee;
  border: 1px solid #444;
}

/* STYLES FOR INPUT FIELDS AND BUTTON */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
}

input[type="submit"] {
  width: 305px;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3366cc;
}
